html, body {
    font-size: 16px;
}

p {
    font-weight: 400;
    line-height: 1.4em;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-weight: 500;
    text-align: left;
    padding-top: 15px;
}

#container {
    margin: 0 auto;
    width: 80%;
}

.intro {
    text-indent: 2em;
}

.sentence {
    font-style: italic;
}

address {
    text-align: center;
}

address a {
    font-weight: bold;
    font-size: 1.25em;
    color: #4F3674;
    text-decoration: none;
}

address a:hover {
    text-decoration: underline;
    background-color: #D6A800;
}

address a:visited {
    color: #3A2B5A; /* Example of visited styling, you can customize this */
}

footer {
    background-color: #333;
    position: fixed; /* Keeps the footer at the bottom of the viewport */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px; /* Adds padding for spacing */
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

footer p {
    color: white;
    font-weight: 400;
    font-style: italic;
    text-align: right; /* Aligns the text to the right */
    margin: 0; /* Removes default margin */
    white-space: nowrap; /* Prevents the text from wrapping to the next line */
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
