/* Center the h1 title */
h1 {
    text-align: center;
}

/* Set styles for the side-by-side divs */
#container div {
    width: 45%;
}

/* Styles for the bottom div */
#container div:last-child {
    width: 100%;
    margin-top: 60%;
}

/* Set font weight for h3 and lists */
h3 {
    font-weight: 500;
}

ol, ul {
    font-weight: 300;
}

/* Styles for the ordered list */
ol {
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
    list-style: decimal inside;
}

/* Styles for the unordered list */
ul {
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
    list-style: upper-roman inside;
}

/* Hover effect for links */
a:hover {
    text-decoration: underline;
}

/* Style for the bottom div's link */
#container div:last-child a {
    float: right;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    position: fixed; /* Keeps the footer at the bottom of the viewport */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px; /* Adds padding for spacing */
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

footer p {
    color: white;
    font-weight: 400;
    font-style: italic;
    text-align: right; /* Aligns the text to the right */
    margin: 0; /* Removes default margin */
    white-space: nowrap; /* Prevents the text from wrapping to the next line */
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
